/* app/components/PresetButtons/PresetButtons.module.css */

.presetsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;
  margin-bottom: 25px;
}
