/* src/components/CustomTimeInput/CustomTimeInput.module.css */

.customInputContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin-bottom: 25px;
  flex-wrap: wrap;
}

.customInput {
  background-color: var(--input-bg);
  color: var(--text-color-primary);
  border: none;
  border-radius: 8px;
  padding: 10px;
  font-size: 1.1rem;
  font-weight: 600;
  text-align: center;
  outline: none;
  transition: all 0.3s ease;
  -moz-appearance: textfield;
  /* Efecto "hundido" o inset */
  box-shadow: inset 3px 3px 6px var(--shadow-color), inset -3px -3px 6px var(--highlight-color);
}

.customInput::-webkit-outer-spin-button,
.customInput::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.customInputHours,
.customInputMinutes {
  width: 60px; /* Reducimos el ancho */
}

.customInput::placeholder {
  color: var(--text-color-placeholder);
  opacity: 0.7;
}

.customInput:disabled {
  background-color: var(--input-bg-disabled);
  color: var(--text-color-disabled);
}

.customInputSeparator {
  font-size: 1.5rem;
  color: var(--text-color-secondary); /* Usamos el color de texto secundario */
  padding: 0 5px;
  line-height: 1;
  user-select: none;
  transition: color 0.3s ease;
}

.customInputContainer:focus-within .customInputSeparator {
  color: var(--brand-color-uibo); /* También cambia al color de la marca */
}

@media (max-width: 768px) {
  .customInputHours,
  .customInputMinutes {
    width: 65px;
    padding: 8px;
    font-size: 0.95rem;
  }
  .customInputSeparator {
    font-size: 1.3rem;
  }
}

@media (max-width: 480px) {
  .customInputContainer {
    gap: 5px;
  }
  .customInputHours,
  .customInputMinutes {
    width: 60px;
    padding: 8px 6px;
    font-size: 0.9rem;
  }
  .customInputSeparator {
    font-size: 1.2rem;
    padding: 0 3px;
  }
}
