/* app/components/ProjectBranding/ProjectBranding.module.css */

.projectName {
  position: absolute;
  top: 20px;
  right: 25px;
  font-size: 1.4rem;
  font-weight: bold;
  z-index: 10;
  user-select: none; /* Para que no se pueda seleccionar */
}

/* Usamos las variables globales para los colores */
.projectNameProd {
  color: var(--brand-color-prod);
}

.projectNameUibo {
  color: var(--brand-color-uibo);
}

/* Media queries para que el componente sea responsivo */
@media (max-width: 768px) {
  .projectName {
    font-size: 1.2rem;
    top: 15px;
    right: 20px;
  }
}

@media (max-width: 480px) {
  .projectName {
    font-size: 1.1rem;
    top: 10px;
    right: 15px;
  }
}