.themeCard {
  cursor: pointer;
  border-radius: 8px;
  border: 2px solid transparent;
  padding: 4px;
  transition: border-color 0.2s ease, transform 0.2s ease;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.themeCard:hover {
  transform: translateY(-3px);
  border-color: var(--border-color-hover);
}

.themeCard.activeTheme {
  border-color: var(--brand-color-uibo);
  transform: scale(1.05);
}

.previewContainer {
  width: 100%;
  height: 90px; /* Altura de la vista previa */
  border-radius: 6px;
  overflow: hidden; /* Muy importante para que el video no se salga */
  position: relative;
  background-color: var(--button-primary-bg); /* Color de fondo mientras carga */
}

/* Estilo común para imagen y video para que ocupen el mismo espacio */
.themePreviewImage,
.themePreviewVideo {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  transition: opacity 0.3s ease;
}
