.videoContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -100; /* Detrás de todo el contenido */
}

.videoBackground {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;  /* Cambiado desde min-width */
  height: 100%; /* Cambiado desde min-height */
  transform: translateX(-50%) translateY(-50%);
  
  /* --- LA LÍNEA CLAVE PARA MEJORAR LA CALIDAD DE LOS VIDEOS EN LOS TEMAS --- */
  object-fit: cover;

  transition: opacity 0.5s ease-in-out;
  opacity: 1;
}
