/* src/app/components/TimerDisplay/TimerDisplay.module.css */

.timerDisplay {
  font-size: 7rem;
  font-weight: 400; /* Numeros más gruesos */
  margin-bottom: 40px;
  display: flex; 
  justify-content: center;
  align-items: center;
  user-select: none;
  transition: color 0.3s ease, text-shadow 0.3s ease;

  /* Usamos la nueva variable para el color, con fallback al color primario del tema */
  color: var(--text-highlight-color, var(--text-color-primary));
  
  /* Usamos la nueva variable para la sombra/contorno, con fallback a 'none' */
  text-shadow: var(--text-shadow, none);
}

.timerDisplay > span:not([class]) {
  padding: 0 5px;
  margin-top: -10px;
}

/* Estilo para los números */
.timeSegment {
  display: inline-block;
  position: relative;

  animation: subtleFadeIn 0.4s ease-out;
}

@keyframes subtleFadeIn {
  from {
    transform: scale(0.98);
    opacity: 0.6;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
